---
title: All the gifs
---
<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }}</title>

    <style>
        body {
            margin: 0;
            padding: .5em;
            background: rgb(25, 25, 25);
            color: #ccc;
            font-family: sans-serif;
        }

        #gifs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        a {
            color: #4897d0;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div id="gifs">
        {% for file in site.static_files %}
            {% if file.extname == ".gif" %}
            <a href="{{ file.path | remove_first: "/" }}">
                <img src="{{file.path}}" height="100">
            </a>
            {% endif %}
        {% endfor %}
    </div>

    <hr>

    Source: <a href="https://github.com/jamesrwhite-gifs/jamesrwhite-gifs.github.io">GitHub</a>
</body>
</html>
