---
title: All the gifs
---
<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }}</title>

    <style>
        body {
            margin: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            padding: .5em 0 0 .5em;
        }
    </style>
</head>

<body>
    <ul>
    {% for file in site.static_files %}
        {% if file.extname == ".gif" %}
            <li>
                <a href="{{ file.path }}">{{ file.path | remove_first: "/" }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</body>
</html>
