---
title: All the gifs
---
<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }}</title>

    <style>
        body {
            margin: 0;
            padding: .5em;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            padding-bottom: 2em;
        }

        a {
            color: blue;
            text-align: center;ri
        }
    </style>
</head>

<body>
    <ul>
    {% for file in site.static_files %}
        {% if file.extname == ".gif" %}
            <li>
                <a href="{{ file.path | remove_first: "/" }}"><img src="{{file.path}}" height="100"></a>
                <br>
                <a href="{{ file.path | remove_first: "/" }}">{{ file.path | remove_first: "/" }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>

    <hr>

    Source: <a href="https://github.com/jamesrwhite-gifs/jamesrwhite-gifs.github.io">GitHub</a>
</body>
</html>
